.slideshow {
  width: 100%;
  height: min(600px, 31.25vw);
  min-height: 300px;
  overflow: hidden;
  position: relative;
}
.slides {
    display: flex;
    width: 400%;
    height: 100%;
    animation: slide 12s infinite;
}

.slides img {
    width: 25%;
    height: 100%;
    object-fit: cover;
    flex-shrink: 0;
}

@keyframes slide {
    0% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-25%);
    }

    58.33% {
        transform: translateX(-25%);
    }

    66.66% {
        transform: translateX(-50%);
    }

    91.66% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(-75%);
    }
}